.main__container-max-content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 var(--lg-padding);
}

section.posts__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: var(--lg-padding);
}

.bigpost__container {  
  max-width: 100vw;
  flex: 1;
  margin-right: 0.5rem;
}

.smallposts__container {  
  max-width: 100vw;
  flex: 1;
  margin-left: 0.5rem;
}

.smallpost__container + .smallpost__container {
  margin-top: 0.75rem;
}

@media (max-width: 768px) {
  .main__container-max-content {
    padding: 0 var(--sm-padding);
  }
  
  .posts__container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: var(--sm-padding);
  }

  .bigpost__container {
    margin:  0 0 3rem 0;
  }

  .smallposts__container {
    margin: 0;
  }

  .smallpost__container + .smallpost__container {
    margin-top: 1rem;
  }
}
