<main class="main__container-max-content">
  <app-menu-bar></app-menu-bar>
  <app-blog-title></app-blog-title>
  <section class="posts__container">
    <div class="bigpost__container">
      <app-big-post></app-big-post>
    </div>
    <div class="smallposts__container">
      <div class="smallpost__container">
        <app-small-post></app-small-post>
      </div>
      <div class="smallpost__container">
        <app-small-post></app-small-post>
      </div>
      <div class="smallpost__container">
        <app-small-post></app-small-post>
      </div>
    </div>
  </section>
</main>