.hero__container {
  color: #fff;
  background-color: inherit;
  margin: 1rem 0;
}

.hero__container h1 {
  margin: 1.5rem 0 2.5rem 0;
  font-size: 10rem;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  
}

.hero__container hr {
  margin: 1rem 0;
}