
:root {
  --bg-color: #111;
  --text-color: #fff;
  --text-faded: #aaa;
  --text-highlight: #f00;
  --lg-padding: 2rem;
  --sm-padding: 1rem;
  --border-radius: 0.5rem;
  --max-width: 1200px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/*  Default resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Segoe UI', sans-serif;
  color: inherit;
}

/*  Global styles */

::-moz-selection {
  color: white;
  background: red;
}

::selection {
  color: white;
  background: red;
}